## Commodities: Atomoação web para atualização dos valores

Neste trabalho iremos buscar na internet, de forma automática, a cotação de diversas commodities, tais como soja, milho, trigo e petróleo.

A ideia é conferir se o valor está abaixo do preço ideal de compra imposto por uma empresa fictícia. Caso esteja, iremos marcar como uma opção de compra para a equipe de operações.

Usaremos o selenium, uma biblioteca que permite controlar o funcionamento de uma página e a interação com ela de forma automática. 

A base de dados foi adaptada de um dos cursos da Hashtag Programação.

In [47]:
#!pip install selenium

In [40]:
from selenium import webdriver
import pandas as pd

In [41]:
# Abrindo o nabegador

navegador = webdriver.Chrome()
navegador.get("https://www.google.com")

In [42]:
# Importando a base de dados

tabela = pd.read_excel("commodities.xlsx")

display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8   Tilápia         9.05          NaN      NaN

In [43]:
# Buscando as cotações

for linha in tabela.index:
    
    #Entrando no site que contém as cotações
    link = "https://www.melhorcambio.com/"+tabela.loc[linha, "Produto"]+"-hoje"
    link = link.replace("ó", "o").replace("ã", "a").replace("ç", "c").replace("ú","u").replace("é", "e").replace("á", "a")
    print(link)
    navegador.get(link)
        
    # Pegando e transformando a cotação em valor para o Python
    cotacao = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value') #outros atributos: .send_key("nome"), .click()
    cotacao = cotacao.replace(".", "").replace(",", ".")
    cotacao = float(cotacao)
    print(cotacao)
    
    # Preenchendo a coluna Preço Atual
    tabela.loc[linha, "Preço Atual"] = cotacao

https://www.melhorcambio.com/Milho-hoje
56.51
https://www.melhorcambio.com/Soja-hoje
132.56
https://www.melhorcambio.com/Boi-hoje
267.3
https://www.melhorcambio.com/Petroleo-hoje
375.47
https://www.melhorcambio.com/Algodao-hoje
395.63
https://www.melhorcambio.com/Acucar-hoje
148.83
https://www.melhorcambio.com/Cafe-hoje
1043.39
https://www.melhorcambio.com/Ouro-hoje
317.58
https://www.melhorcambio.com/Tilapia-hoje
9.64

In [44]:
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        56.51      NaN
1      Soja       163.59       132.56      NaN
2       Boi       282.20       267.30      NaN
3  Petróleo       424.37       375.47      NaN
4   Algodão       497.76       395.63      NaN
5    Açúcar       136.23       148.83      NaN
6      Café      1092.87      1043.39      NaN
7      Ouro       321.77       317.58      NaN
8   Tilápia         9.05         9.64      NaN

In [45]:
# Preenchendo a coluna Comprar

for linha in tabela.index:
    if tabela.loc[linha, "Preço Ideal"] >= tabela.loc[linha, "Preço Atual"]:
        tabela.loc[linha, "Comprar"] = "Sim"
    else:
        tabela.loc[linha, "Comprar"] = "Não"

In [46]:
display(tabela)

    Produto  Preço Ideal  Preço Atual Comprar
0     Milho        85.32        56.51     Sim
1      Soja       163.59       132.56     Sim
2       Boi       282.20       267.30     Sim
3  Petróleo       424.37       375.47     Sim
4   Algodão       497.76       395.63     Sim
5    Açúcar       136.23       148.83     Não
6      Café      1092.87      1043.39     Sim
7      Ouro       321.77       317.58     Sim
8   Tilápia         9.05         9.64     Não